In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Import CSV
Vivino = pd.read_csv('vivino_wine_final.csv',encoding = "ISO-8859-1")

In [3]:
# Edit the wine measures since scraping got the bottom of the bar (with length 15)
Vivino['light_bold'] = [x + 7.5 if x != -1 else -1 for x in Vivino['light_bold']]
Vivino['smooth_tannic'] = [x + 7.5 if x != -1 else -1 for x in Vivino['smooth_tannic']]
Vivino['dry_sweet'] = [x + 7.5 if x != -1 else -1 for x in Vivino['dry_sweet']]
Vivino['soft_acidic'] = [x + 7.5 if x != -1 else -1 for x in Vivino['soft_acidic']]

In [6]:
Vivino[Vivino['price'] > 2000]

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
39508,Dujac Fils et Père,Red wine,Gevrey-Chambertin,France,Gevrey-Chambertin,2013,3.8,81,3262.50,45.9608,35.2903,8.66921,75.2236
44768,Château Mouton Rothschild,Red wine,Pauillac,France,Pauillac (Premier Grand Cru Classé),1967,4.4,208,4499.97,74.3377,76.3474,15.45159,75.3875

In [11]:
Vivino[(Vivino['overall_rating'] < 2.5) & (Vivino['overall_rating'] != -1)]

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
1372,Ariel,Red wine,Napa Valley,United States,Cabernet Sauvignon,2014,2.0,28,8.99,66.4665,50.3184,38.2598,51.7779
2521,Our Daily,Red wine,California,United States,Red Blend,2013,2.4,231,8.99,86.9697,62.3779,7.5000,70.9142
18116,Pierre Chavin,Red wine,Languedoc,France,Le Petit Étoilé Cabernet Sauvignon,-1,2.2,31,26.00,33.2115,33.2115,30.5577,37.8846

In [8]:
Vivino[(Vivino['overall_rating'] < 3.0) & (Vivino['overall_rating'] != -1) & (Vivino['price'] > 150)]

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
40903,Croix des Vignes,Red wine,Côtes-du-Rhône,France,Côtes du Rhône,2012,2.8,104,169.94,73.2812,59.5313,11.28125,58.4062
40904,Marcus James,Red wine,Serra Gaúcha,Brazil,Cabernet Sauvignon,2017,2.8,97,160.00,62.4946,52.6184,38.22660,51.1764
42079,Marcus James,Red wine,Serra Gaúcha,Brazil,Cabernet Sauvignon,2013,2.8,141,185.00,62.4946,52.6184,38.22660,51.1764

In [10]:
Vivino[(Vivino['country'] == 'Brazil')]

,winery,wine_type,city,country,wine_name,year,overall_rating,overall_rating_count,price,light_bold,smooth_tannic,dry_sweet,soft_acidic
5342,Lidio Carraro,Red wine,Encruzilhada do Sul,Brazil,Agnus Tannat,2014,3.6,483,12.99,-1.0000,-1.0000,-1.0000,-1.0000
10991,Miolo,Red wine,Campanha,Brazil,Reserva Tannat,2018,3.7,1108,17.99,-1.0000,-1.0000,-1.0000,-1.0000
20739,Pizzato,Red wine,Vale dos Vinhedos,Brazil,Concentus Merlot - Tannat - Cabernet Sauvignon...,2009,3.9,261,35.99,-1.0000,-1.0000,-1.0000,-1.0000
34637,Lidio Carraro,Red wine,Vale dos Vinhedos,Brazil,Quorum (Grande Vindima),2006,3.9,829,89.99,81.3000,55.7194,17.8928,47.9810
40904,Marcus James,Red wine,Serra Gaúcha,Brazil,Cabernet Sauvignon,2017,2.8,97,160.00,62.4946,52.6184,38.2266,51.1764
42079,Marcus James,Red wine,Serra Gaúcha,Brazil,Cabernet Sauvignon,2013,2.8,141,185.00,62.4946,52.6184,38.2266,51.1764

In [12]:
Vivino_bad = Vivino[(Vivino['overall_rating'] < 3.0) & (Vivino['overall_rating'] != -1)]
Vivino_bad['country'].value_counts()

United States    26
France           18
Italy            14
Chile             9
Argentina         8
Spain             7
Portugal          3
Australia         2
Brazil            2
South Africa      1
Greece            1
Hungary           1
Slovenia          1
Name: country, dtype: int64

In [13]:
Vivino[Vivino['price'] < 200].count()

winery                  41292
wine_type               41292
city                    41288
country                 41288
wine_name               41287
year                    41293
overall_rating          41293
overall_rating_count    41293
price                   41293
light_bold              41293
smooth_tannic           41293
dry_sweet               41293
soft_acidic             41293
dtype: int64